*{
    margin: 0; padding: 0; box-sizing: border-box;
}
body{
    font-family: "Microsoft Sans Serif";
}
a{
    text-decoration: none;
}
.bg{
    height: 100vh; background: url("../img/bg.png") no-repeat center;
    background-size: cover;
    overflow: hidden;
    position: relative;
}

/*导航*/
nav{
    position: fixed; height: 100px; line-height: 100px;
    left: 0; top: 0; width: 100%; padding: 0 40px;
}
nav .logo{
    float: left; margin-top: 22px;
}
nav ul{
    float: right; height: 100%;
}
nav ul li {
    display: inline-block; font-size: 0; height: 100%;
    padding: 0 15px;
}
nav ul li a{
    font-size: 16px; color: #ffffff;
}
nav ul li a.sign{
    border: 1px solid #ffffff; padding: 6px 25px;
    border-radius: 20px; transition: .2s all;
}
nav ul li a.sign:hover{
    background-color: #ffffff; color: #000;
}

/*身体部分*/
.container{
   position: relative; min-height: 50vh;
    width: 100%; padding-left: 40px;
    background: url("../img/line.gif") no-repeat right;
}
.text{
    max-width: 400px; position: absolute;
    top: 150px;
}
.text h1{
    font-size: 30px; color: #ffffff;
}
.text p{
    font-size: 14px; color: rgba(255,255,255, 0.8);
    margin-bottom: 30px;
}
.text a{
    display: block; width: 200px; height: 40px;
    border-radius: 40px; border: 1px solid #fff;
    text-align: center; color: #ffffff; font-size: 16px;
    line-height: normal;
    transition: .2s all;
}
.text a:hover{
    background-color: #ffffff; color: #000;
    text-indent: 20px;
}
.text a span{
    color: #14bfff; font-size: 25px; margin-left: 15px;
}


.threeD{
    perspective: 1000px; position: absolute; right: 300px; top: 0;
}
.threeD_box{
    transform-style: preserve-3d;
}
.threeD_box img{ position: absolute;}

.threeD_box .left{
    right: 350px;
}
.threeD_box .computer{
    right: 0;
}
.threeD_box .right{
    top: 190px;
}
.threeD_box .top{
    right: 20px; top: -60px;
}
.threeD_box .ban1{
    right: 95px; top: 130px;
    z-index: 1;
}
.threeD_box .ban2{
    right: 95px; top: 130px;
}


/*.threeD_box .ban1{*/
    /*right: 140px; top: 150px;*/
    /*z-index: 1;*/
/*}*/
/*.threeD_box .ban2{*/
    /*right: 115px; top: 140px;*/
/*}*/
/*footer*/
.footer{
    position: fixed; bottom: 100px; width: 100%;
    padding: 0 40px;
}
.footer img, .footer span, .footer i{ vertical-align: middle;}

.footer img{
    margin: 0 15px;
}
.footer span{
    margin: 0 5px;
}
.footer i{
    color: #de50f0;
}
.nl{
    color: #fff;
}
.en{
    color: #128be7;
}
